*{
  padding: 0%;
  margin: 0%;
}

html {
  background-color: RGB(165, 0, 0);
  background-image: url("../картинки_япония/dragon_01.png");   /* c .. точками каталог с картинками находится выше от каталога CSS */
  background-repeat: no-repeat; /* не повторяем */
  background-position: left;  /* позиция в центре */
  background-attachment: fixed; /* без прокручивания */
  background-size: 10%; /* размер - растянем на экран */
  
}

body {
  /*background-color: RGB(165, 0, 0);*/
  background-attachment: fixed;
  margin:0;
  
}

.main_window {
  margin-left: 10%;
  background-color: RGB(255, 255, 255);
  width: 80%;
  top: 50%;
  height: auto;
  align-self: center;
  overflow: hidden;
  overflow-x: hidden
}

.main_k {
  position: relative;
  top: 50px;
  display: flex;
}

.header {
  position: relative;
  height: 8vw;
}

.header_text {
  position: absolute;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 1vw;
  left: 10%;
  height: 5.5vw;
  width: 80%;
  font-size: 4vw;
  color: black;
  background-color: RGB(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
}

.header_logo_left {
  position: absolute;	
  top: 1.3vw;
  left: 10.3%;
  width: 5%;
  overflow: no-hidden;
  /*background-color: RGB(255, 255, 255);*/
}

.header_logo_right {
  position: absolute;
  top: 1.3vw;
  right: 10.3%;
  width: 5%;
  /*background-color: RGB(255, 255, 255);*/
}

ul {
  overflow: hidden;
  list-style: none; 
  margin: 0 auto;
}

i {
  display: block;
  margin-right: 20%;
  border: 1px solid RGB(255, 255, 255);
}

nav {
  width: 80%;
  margin: 0 auto;  
}

.main_menu{
  position: relative;
  top: 0%;
  width: auto;
  height: auto;
  display: flex;
  margin-bottom: 0.5%;
}

.main_menu a {   /* НЕ активные пункты меню */
  display: block;
  padding: 0.5em;
  height: 2.5vw;  /* высота меню */
  align-items: stretch;
  align-content: center;
  
  border: 1px solid RGB(255, 255, 255);
  background-color: RGB(0, 0, 0);
  color: #ffffff;
  
  /* свойства шрифта */
  font-size: 1.6vw;
  display: block;
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.main_menu li.active {  /* активный пункт меню */
  display: block;
  padding: 0.5em;
  height: 2.5vw;
  align-items: stretch;
  align-content: center;

  border: 1px solid RGB(255, 255, 255);
  background-color: RGB(0, 0, 0);
  color: #ffffff;
  
  /* свойства шрифта */
  font-size: 1.6vw;
  display: block;
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}

.main_menu a:hover {
  background-color:rgba(165, 0, 0, 0.925);
}

.main_window_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.5em;
  color: black;
  margin: 10% 10% 5% 10%;  /* отступы (сверху, справа, снизу, слева) */
}

.main_window_text_abzac {  /* Добавляем красную строку абзаца */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Sans-Serif;
  font-size: 1.5em;
  color: black;
  margin: 10% 10% 16% 10%;  /* отступы (сверху, справа, снизу, слева) */
  text-indent: 10%;
}

.main_picture {  /* Картинки */
  margin: -200% 30% 4% 33%;
  top: -50%;
  width: 30%;
}

.main_line_up_1 {
  height: 2.8vw;
  width: 100%;
  background-color: RGB(231, 184, 28);
}

.main_line_down_1 {
  bottom: 0px;
  height: 3vw;
  width: 100%;
  background-color: RGB(231, 184, 28);

}

.main_line_down_2 {
  bottom: 0px;
  height: 3vw;
  width: 100%;
  background-color: black;
}

.main_e {  /* на будущее */
  position: relative;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  height: 50%;
  width: 100%;
}

.sticky{
  width: 31.35%;
  position: sticky;
  top: 25%;
  margin-top: 50;
}

.nosticky{
  width: 31.35%;
  position: relative;
  top: 0;
  min-height: 10em;
}
